# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.sh~
sailboat/zones/json/skynet/skynet-www.json
sailboat/zones/json/skynet/skynet-elk-noNICtag.json
sailboat/zones/json/skynet/skynet-dns.json
sailboat/zones/json/skynet/skynet-proxy.json
sailboat/zones/json/skynet/skynet-ssh.json
sailboat/zones/json/skynet/skynet-dhcp.json
sailboat/zones/json/skynet/skynet-dht.json
